@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #47b977;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020712;
    --foreground: #ededed;
    --color-primary: #47b977;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  --color-primary: #47b977;

  font-family: "Poppins", sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}
@layer base {
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: center;
  }
  ul li:hover {
    opacity: 0.7;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}
